<div class="container-fluid py-4 home">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5 fw-bold py-4">Funcionalidades Principales</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card text-bg-light">
                <img 
                    src="assets/images/socios.jpeg" 
                    class="card-img-top img-fluid" 
                    alt="socios image">
                <div class="card-body">
                  <h5 class="card-title">Consulta de Socios</h5>
                  <p class="card-text">
                    La función de consulta de socios permite a los usuarios ver la lista completa de socios registrados en el club náutico. 
                    Cada socio se muestra con su nombre, apellido, número de teléfono y dirección de correo electrónico. 
                    Además, se muestra una lista de los barcos asociados a cada socio, si los hay.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-light">
                <img 
                    src="assets/images/socio.jpg" 
                    class="card-img-top img-fluid" 
                    alt="socio image">
                <div class="card-body">
                  <h5 class="card-title">Registro de Socios</h5>
                  <p class="card-text">
                    La función de registro de socios permite a los administradores agregar nuevos socios al club náutico. 
                    Para registrar un nuevo socio, el usuario debe proporcionar la información requerida, que incluye el nombre completo, 
                    número de teléfono y dirección de correo electrónico del socio.
                </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-light">
                <img src="assets/images/muelle_norte.jpg" class="card-img-top img-fluid" alt="barcos image">
                <div class="card-body">
                  <h5 class="card-title">Consulta de Barcos</h5>
                  <p class="card-text">
                    La función de consulta de barcos permite a los usuarios ver la lista completa de barcos registrados en el club náutico. 
                    Cada barco se muestra con su nombre, tipo, longitud y año de fabricación. 
                    Además, se muestra el nombre del socio al que está asociado cada barco, si corresponde.
                </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-bg-light">
                <img src="assets/images/barco.jpg" class="card-img-top img-fluid" alt="barco image">
                <div class="card-body">
                  <h5 class="card-title">Registro de Barcos</h5>
                  <p class="card-text">
                    La función de registro de barcos permite a los administradores agregar nuevos barcos al club náutico y asociarlos a socios existentes.
                     Para registrar un nuevo barco, el usuario debe proporcionar información como el nombre del barco, tipo, longitud y año de fabricación. 
                    Además, debe seleccionar el socio al que se asociará el barco.
                </p>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>