<div class="container-fluid py-4 home">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3 ">
        <h1 class="display-5 fw-bold">Documentacion Club Nautico</h1>     
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col col-md-12">
                    <div class="row">
                        <div class="col col-md-8">                         
                            <p class="col-md-8 fs-4">
                                La aplicación del Club Náutico es una plataforma diseñada para gestionar los socios y los barcos asociados a dicho club. 
                                Esta aplicación proporciona una interfaz intuitiva y fácil de usar que permite a los administradores del club mantener un registro actualizado de los socios y los barcos, 
                                así como gestionar las operaciones relacionadas con ellos.
                              </p>
                        </div>
                        <div class="col col-md-4">
                            <img 
                            class="img-fluid"
                            style="height: 80%"
                            width="150%"
                            src="assets/images/Club-Nautico.jpg"
                         >
                        </div>
                    </div>
                </div>
            </div>    
        </div>
      </div>
</div>