<div class="container-fluid py-4 home">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3 ">
        <h1 class="display-5 fw-bold">Instrucciones de Uso</h1>  
        <ol class="list-group list-group-numbered">
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Consulta de Socios y Barcos</div>
                Los usuarios pueden acceder a las funciones de consulta de socios y barcos desde el menú principal de la aplicación.
              </div>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Registro de Socios y Barcos</div>
                Los administradores pueden agregar nuevos socios y barcos utilizando las funciones correspondientes en el menú principal de la aplicación. 
                Se les pedirá que ingresen la información requerida en los formularios de registro.
              </div>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Recursos Adicionales</div>
                  Para obtener más información sobre cómo utilizar la aplicación del Club Náutico, 
                  consulte la sección de ayuda dentro de la propia aplicación o comuníquese con el <a [routerLink]="['/contact']">soporte técnico</a> .
                </div>
              </li>
          </ol>
    </div>
</div>